{% extends 'VelesHomeWorkBundle:HomeWork:index.html.twig' %}

{% block container %}
    {{ include ('VelesHomeWorkBundle:HomeWork/Modules:breadcrumbs.html.twig', {'pageName': sectionData.title}) }}
    <div class="">
        <p>
            <img class="img-circle-big" src="https://cdn1.iconfinder.com/data/icons/UltraBuuf/128/Thor.png">
            {{ sectionData.description }}
            <div class="clr"></div>
        </p>
    </div>
{% endblock container %}