{% extends 'VelesHomeWorkBundle:HomeWork:index.html.twig' %}

{% block container %}
    {{ include ('VelesHomeWorkBundle:HomeWork/Modules:breadcrumbs.html.twig', {'pageName': sectionData.title}) }}
    <div class="">
        <p>
            <img class="img-circle-big" src="{{ 'bundles/veleshomework/images/odin.png' | imagine_filter('big_thumb') }}" />
            {{ sectionData.description | raw }}
            <div class="clr"></div>
        </p>
    </div>
{% endblock container %}