{% extends 'VelesHomeWorkBundle:HomeWork:index.html.twig' %}

{% block container %}
    {% if resultData.error is defined %}
        <b>{{ resultData.error  }}</b>
    {% else %}
        {{ include ('VelesHomeWorkBundle:HomeWork/Modules:breadcrumbs.html.twig', {'sectionName': 'Articles', 'pageName': resultData.article.title}) }}
        <div class="">
            {{ include ('VelesHomeWorkBundle:HomeWork/Modules:articles_template.html.twig', {'posts': resultData}) }}
        </div>
    {% endif %}
{% endblock container %}