{% extends 'VelesHomeWorkBundle:HomeWork:index.html.twig' %}

{% block container %}
    {% if resultData.error is defined %}
        <b>{{ resultData.error  }}</b>
    {% else %}
        {{ include ('VelesHomeWorkBundle:HomeWork/Modules:breadcrumbs.html.twig', {'pageName': sectionData.title}) }}
        <div class="">
            {{ include ('VelesHomeWorkBundle:HomeWork/Modules:articles_template.html.twig', {'posts': resultData}) }}
            <div id="moreArticlesContainer"><div id="loaderContainer"></div></div>
            <a href="javascript:;" id="showMoreArticles" class="btn btn-block btn-primary">Show more articles</a>
        </div>
    {% endif %}
{% endblock container %}