{% extends 'VelesHomeWorkBundle:HomeWork:index.html.twig' %}

{% block container %}
    {% if resultData.error is defined %}
        <b>{{ resultData.error  }}</b>
    {% else %}
        {{ include ('VelesHomeWorkBundle:HomeWork/Modules:breadcrumbs.html.twig', {'sectionName': 'Search result', 'pageName': kwd}) }}
        <div class="search_article_container">
            {{ include ('VelesHomeWorkBundle:HomeWork/Modules:articles_template.html.twig', {'posts': pagination}) }}
        </div>
    {% endif %}
{% endblock container %}