{% extends 'VelesHomeWorkBundle:HomeWork:index.html.twig' %}

{% block container %}
    {{ include ('VelesHomeWorkBundle:HomeWork/Modules:breadcrumbs.html.twig', {'pageName': sectionData.title}) }}
    <div class="well">
        <p class="success">
            {{ sectionData.description }}
        </p>
    </div>
{% endblock container %}