{% extends 'VelesHomeWorkBundle:HomeWork:index.html.twig' %}

{% block container %}
    {% if resultData.error is defined %}
        <b>{{ resultData.error  }}</b>
    {% else %}
        {% for sectionData in resultData %}
            {{ include ('VelesHomeWorkBundle:HomeWork/Modules:breadcrumbs.html.twig', {'sectionName': 'Tags', 'pageName': sectionData.title}) }}
            <div class="">
                {{ include ('VelesHomeWorkBundle:HomeWork/Modules:articles_template.html.twig', {'posts': sectionData.articles}) }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock container %}