<div class="navbar navbar-inverse" id="footer">
    <div class="container">
        {% if pagination is defined %}
            <div class="pgn_navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}
    </div>
</div>