{% extends "VelesUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <blockquote>
        <p class="text-info">{{ 'resetting.password_already_requested'|trans }}</p>
    </blockquote>
{% endblock fos_user_content %}
